html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #21252b;

  color: #d3ddef;
  font-family: "Inter", sans-serif;
}

.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;

  z-index: -1;
  margin-top: -90px;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin-left: 1rem;
}
.ag-canvas_svg path {
  fill: #383d46;
  fill-opacity: 1;
  stroke: #21252b;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}

input {
  font-family: "Inter", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 20%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: teal;
  /* float: right;
  margin-bottom: -100px; */
  border: 0;
  padding: 15px 20px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  display: block;
  margin: 0 15px;
  font-weight: 700;
  border-radius: 6px;
}

.total-count {
  font-family: "Poppins", sans-serif;
  color: white;
  position: absolute;
  padding: 20px;
  left: 0;
  bottom: 0;
  font-weight: 1000;
  user-select: none;
}
